.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(11, 11, 11, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  overflow-y: auto;
  padding: 40px 16px;
}
.modal {
  font-family: "Roboto";
  text-align: left;
  position: relative;
  border-radius: 32px;
  padding: 32px;
  background-color: #fbfbfb;
  width: 90%;
  max-width: 556px;
  box-sizing: border-box;
}

.appointmentModal {
  max-width: 600px;
  width: 90%;
  background-color: #fbfbfb;
  border-radius: 32px;
  padding: 32px;
  box-sizing: border-box;
}
.mobileModal {
  background-color: var(--primary);
  width: 100%;
  max-width: 450px;
  border-radius: 24px;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .modal {
    padding: 64px;
  }
}
.actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeIcon {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: #000000;
  display: block;
}

.mobileCloseIcon {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: white;
  display: block;
}
.title {
  font-weight: 500;
  font-size: clamp(24px, calc(2vw + 5px), 40px);
  line-height: 120%;
  margin-bottom: 20px;
  color: #11101c;
}

@media only screen and (max-width: 480px) {
  .title {
    max-width: 240px;
  }
}
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(17, 16, 28, 0.5);
  margin-bottom: 40px;
}
